.Btn{
  width: 15rem;
  height: 5rem;
  margin-left: 50rem;
  background-color: blue;
  font-size: larger;
  color: white;
  border-radius: 20rem;
  margin-top: 23px;
}

html{
  background-color: rgb(241, 236, 236);
}